#viewport {
    width: 100%;
    height: 100vh;  


    /* position: absolute;
    top: 0;
    width: 100%; */
    
}



#navbar-left{
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

#navbar-right{
    justify-content: flex-start;
    position: fixed;
    /* top: 0;
    right: 0;
    width: 100%; */

}

#nameid{
    border-radius: 50%;
}

#logo{
    position:relative;
    top:250;
    left: 550;
    width:100%;
    height:60px;
  
}

#form{
    position: relative;
    top:38%;
    left: 25%;
    width: 50%

}

form i {
        position: absolute; 
}

.fa { 
    padding: 10px; 
    min-width: 40px; 
} 

#search{
    border-radius: 2rem;
    width: 80%;
    height: 45px;
    margin-left: 60px;
    padding: 10px; 
    text-align: center; 
}

#buttons{
    display:flex;
    margin-top: 10px;
    margin-left: 100px;
    
   
}

.btn{
    width: 30%;
    margin: 0 0px 0 30px;
}

#google {
    width:300px; 
    height: auto;
}


#footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:50px;
   
}